<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <span>Home</span>
    </a>
  </span>
  <span>
    <a
      routerLinkActive="active-link"
      routerLink="/post-list">
      <span> Lista </span>
    </a>
    <a
      routerLinkActive="active-link"
      routerLink="/post-create">
      <span> Criar </span>
    </a>
    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/login" >
      <span> Login </span>
    </a>
    <a
      *ngIf="isAuthenticated"
      (click)="logout()"
      routerLinkActive="active-link"
      routerLink="/login">
      <span> Logout </span>
    </a>
    <a
      *ngIf="!isAuthenticated"
      routerLinkActive="active-link"
      routerLink="/cadastro">
      <span>Cadastro</span>
    </a>
  </span>
</mat-toolbar>
