<button (click)="isOpen = !isOpen" mat-raised-button color="accent">
  <mat-icon>Adicionar</mat-icon> Criar Herois
</button>

<form
  *ngIf="isOpen"
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit(form.value)"
  novalidate
>
  <mat-form-field>
    <mat-label>Nome Heroi</mat-label>
    <input matInput placeholder="Nome Heroi" formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Poder Heroi</mat-label>
    <input matInput placeholder="Poder Heroi" formControlName="poder" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Universo Heroi</mat-label>
    <input matInput placeholder="Poder Heroi" formControlName="universo" />
  </mat-form-field>

  <button
    color="accent"
    [disabled]="!form.valid"
    mat-raised-button
    type="submit"
  >
    <span>Lista</span>
  </button>
</form>
