mat-form-field,
button {
  width: 100%;
}
button {
  margin-bottom: 2em;
}
div {
  color: #12b6d1;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px;
}
