mat-form-field {
  width: 100%;
  margin: 1rem auto;
}

button {
  float: right;
  width: 200px;
}

div {
  color: #12b6d1;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px;
}
