<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ 'Nome: ' + post.tittle }}
    </mat-expansion-panel-header>
      {{ 'Poderes: ' + post.power }}
      <p></p>
      {{ 'Universo: ' + post.universe }}
      <p></p>
      {{ 'Data: ' + post.content }}
      <mat-action-row>
        <button mat-button color="primary">EDITAR</button>
        <button mat-button color="warn">EXCLUIR</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">Nenhum Heroi adicionado!</p>
